<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>500 | L‑MACK</title>

  <link rel="stylesheet" href="../css/errores.css" />
</head>
<body class="error-page">
  <header>
    <img src="../resources/Fondo claro N L-MACK.png" alt="Logo L‑MACK" class="logo" />
  </header>
    <div class="img">
        <img src="../resources/mascota L-MACK.jpg" alt="Mascota L-MACK" class="mascota">
     </div>
  <main>
    <h1 class="error-code">500</h1>
    <p class="error-msg">Lo sentimos, ocurrió un error interno en el servidor.</p>
    <a href="../index.html" class="btn-home">Volver al inicio</a>
  </main>

  <footer>
    <small>&copy; 2025 L‑MACK — Todos los derechos reservados</small>
  </footer>
</body>
</html>
